h1  {
    color: fuchsia;
    text-align: center;
}

.navigation {
    display: flex;
    height: 50px;
    background-color: aqua;
    padding-left: 80%;
}

.nav-login {
    padding: 10px;
}

.nav-register {
    padding: 10px;
}

.nav-logout {
    padding: 10px;
}

.nav-user-profile {
    padding: 10px;
}

.timer-container {
    display: flex;
    width: 5%;
    justify-items: center;
    background-color: cornflowerblue;
    border: 2px solid crimson;
    border-radius: 3px;
    padding: 3px;
    margin-left: 77%;
    margin-bottom: 10px;
    margin-top: 12%;
}

.timer-buttons-container {
    display: flex;
    margin-left: 73%;
    padding: 5px;
}

.minutes-input {
    display: flex;
    margin-left: 70%;
}

.timer-submit {
    display: flex;
    margin-left: 75%;
}

.minutes {
    flex: 1;
    padding: 3px;
}

.colon {
    flex: 1;
    padding-left: 6px;
    padding-right: 4px;
}

.seconds-extra-zero {
    display: none;
}

.minutes-extra-zero {
    display: none;
}

.seconds {
    flex: 1;
    padding: 3px;
}

.castle-progress-image {
    height: 150px;
    width: 150px;
}

.castle-profile-image {
    height: 50px;
    width: 50px;
}

.block-container {
    display: flex;
}

.block {
    fill: orange;
    stroke-width: .1px;
    stroke: black;
}