h1  {
    color: fuchsia;
    text-align: center;
}

.navigation {
    display: flex;
    height: 50px;
    background-color: aqua;
    padding-left: 80%;
}

.nav-login {
    padding: 10px;
}

.nav-register {
    padding: 10px;
}

.nav-logout {
    padding: 10px;
}

.nav-user-profile {
    padding: 10px;
}