body {
    height: 100%;
}

.homepage-welcome {
    color: lemonchiffon;
    background-color: darkolivegreen;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    padding-top: 7px;
    height: 60px;
}

.homepage-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage-register-text {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    margin-top: 30px;
}

.homepage-login-text {
    color: white;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.homepage-register-link {
    background-color: lemonchiffon;
    color: darkgreen;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 2px;
    text-align: center;
    width: 100px;
    height: 31px;
}

.homepage-login-link {
    background-color: lemonchiffon;
    color: darkgreen;
    font-family: 'Chakra Petch', sans-serif;
    border-radius: 2px;
    width: 100px;
    height: 31px;
    text-align: center;
}

.homepage-register-button {
    background-color: #F7DC6F;
    float: right;
    border-radius: 3px;
    border-color: #F7DC6F;
    height: 32px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

.homepage-login-link {
    background-color: #F7DC6F;
    border-radius: 3px;
    border-color: #F7DC6F;
    color: black;
    height: 32px;
    width: 90px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
}

.login_page_flex_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page-heading {
    color: #F7DC6F;
    font-family: 'Chakra Petch', sans-serif;
}

.login-page-login-button {
    background-color: #F7DC6F;
    border-radius: 3px;
    border-color: #F7DC6F;
    color: black;
    height: 36px;
    width: 90px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    float: right;
    padding-bottom: 6px;
}

.login-page-register-link {
    background-color: #F7DC6F;
    border-radius: 3px;
    border: 2px solid #F7DC6F;
    color: black;
    height: 28px;
    width: 100px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    padding-bottom: 6px;
    text-align: center;
}

.login-page-link-to-registration-text {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    color: aliceblue;
}

.navigation {
    height: 50px;
    background-color: darkolivegreen;
}

.nav-logout {
    padding: 10px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.nav-user-profile {
    padding: 10px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.nav-home {
    padding: 10px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.nav-name {
    color: #F7DC6F;
    font-family: 'Chakra Petch', sans-serif;
    padding: 10px;
}

.nav-logo {
    color: #F7DC6F;
    font-family: 'Chakra Petch', sans-serif;
    padding: 10px;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

.timer-display {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 85px;
    height: 35px;
    background-color: #1ee3dc;
    border: 1px solid lime;
    border-radius: 3px;
    color: darkred;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 23px;
}

#reset-timer-button {
    background-color: aliceblue;
    height: 23px;
    border: 1px outset deepskyblue;
    border-radius: 2px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 15px;
    margin-left: 8px;
}

#pause-timer-button {
    background-color: aliceblue;
    height: 23px;
    border: 1px outset deepskyblue;
    border-radius: 2px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 15px;
}

#minutes-input-id {
    width: 93px;
    justify-content: center;
    height: 22px;
    margin-bottom: 5px;
    margin-right: 4px;
    padding-left: 5px;
    font-size: 15px;
}

#timer-submit-id {
    margin-top: 7px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 40px;
    width: 80px;
    background-color: #F7DC6F;
    text-transform: lowercase;
    border: 2px outset #F7DC6F;
    border-radius: 3px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

.minutes {
    padding: 3px;
}

.colon {
    padding-left: 6px;
    padding-right: 4px;
}

.seconds-extra-zero {
    display: none;
}

.minutes-extra-zero {
    display: none;
}

.seconds {
    flex: 1;
    padding: 3px;
}

.castle-profile-image {
    height: 50px;
    width: 50px;
}

.block {
    fill: lavender;
    stroke-width: .1px;
    stroke: black;
}

.current-block {
    fill: crimson;
}

.svg-container {
    display: flex;
    position: relative;
    width: 95vh;
    height: 60vh;
    margin: auto;
}

svg {
    position: absolute;
    height: 100%;
    width: 100%;
}

.timer-container {
    width: 220px;
    max-height: 100px;
    padding: 5px;
    justify-content: center;
    border-radius: 2px;
    margin: auto;
}

.progress-castle-info {
    margin-top: 10px;
    color: lemonchiffon;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.info-and-timer-flex-container {
    display: flex;
    justify-content: center;
}

.congrats-message {
    display: none;
    justify-content: center;
    margin-top: 7px;
}

.return-to-profile-link {
    display: none;
    justify-content: center;
    margin-top: 5px;
}


.profile-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-castles-container {
    background-color: lemonchiffon;
    margin-left: 15px;
    padding: 15px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    width: 25%;
    border-radius: 3px;
}

.completed-castles-container {
    background-color: #F7DC6F ;
    margin-left: 15px;
    padding: 15px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    width: 25%;
    border-radius: 3px;
}

.create-new-castle-container {
    color: #84C576;
    margin-left: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    height: 150px;
    width: 22%;
    border-radius: 3px;
}

.create-castle-button {
    background-color: #F7DC6F;
    border-radius: 5px;
    border: 2px solid darkslategray;
    color: black;
    height: 35px;
    width: 100px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    text-align: center;
}

.completed-blocks-value {
    color: white;
    text-align: center;
}

.profile-under-construction {
    color: #84C576;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.profile-completed {
    color: #84C576;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.profile-create-new {
    color: silver;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.profile-castle-name {
    color: darkslategray;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.profile-delete-button {
    background-color: #F3895C;
    border-radius: 5px;
    border: 2px solid gray;
    color: black;
    height: 35px;
    width: 100px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    text-align: center;
}

.profile-progress-button {
    background-color: #F7DC6F;
    border-radius: 5px;
    border: 2px solid gray;
    color: black;
    height: 35px;
    width: 200px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 22px;
    text-align: center;
}

.profile-page-header {
    color: #84C576;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.homepage-header {
    color: #84C576;
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.product-blurb {
    color: #F7DC6F;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 27px;
    text-align: center;
}

.homepage-photo {
    width: 420px;
    height: 252px;
}

.homepage-photo-container {
    text-align: center;
}

.new-user-registration-form {
    color: white;
    padding: 5px;
}

label {
    font-family: 'Chakra Petch', sans-serif;
    width: 230px;
    display: inline-block;
}

input {
    width: 170px;
    height: 23px;
    border-radius: 2px;
    font-size: 18px;
    padding-left: 3px;
    padding-right: 3px;
}

fieldset {
    border-radius: 5px;
    color: lemonchiffon;
    border-color: lemonchiffon;
}

li {
    color: lightcoral;
    font-size: 21px;
}

/*SCREEN SIZE CONSIDERATIONS*/

/* SHRINKING BROWSER */
@media only screen and (max-width: 1026px) and (min-width: 770px ) {


    .svg-container {
        height: 40vh;
    }

    svg {
        max-width: 806px;
    }

    .timer-container {
        padding-left: 30px;
    }

    .progress-castle-info {
        padding-left: 17px;
    }
}


/*IPAD*/
@media only screen and (max-width: 769px) and (min-width: 541px ) {
    .svg-container {
        height: 50vh;
    }

    svg {
        max-width: 775px;
    }

    .create-new-castle-container {
        text-align: center;
        width: 35%;
        height: 125px;
        padding-right: 10px;
        margin-bottom: 17px;
    }

    .new-castle-form {
        font-size: 18px;
    }

    input {
        width: 100px;
        height: 18px;
        border-radius: 2px;
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 5px;
    }

    .create-castle-button {
        width: 80px;
        height: 32px;
        font-size: 20px;
    }

    .profile-under-construction {
        font-size: 21px;
        padding-left: 5px;
    }

    .current-castles-container {
        width: 50%;
        margin-left: 3px;
    }

    .profile-castle-name {
        font-size: 25px;
        margin-top: 10px;
    }

    .profile-delete-button {
        width: 80px;
        height: 30px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .profile-progress-button {
        width: 180px;
        height: 35px;
        font-size: 20px;
    }

    .profile-completed {
        font-size: 21px;
        padding-left: 5px;
        margin-top: 25px;
    }

    .profile-line {
        display: none;
    }

    .completed-castles-container {
        width: 50%;
        margin-left: 3px;
    }
}


/*IPHONE 6/7/8 PLUS*/
@media only screen and (max-width: 416px) and (min-width: 412px ) {
    .nav-name {
        display: none;
    }

    .nav-home {
        display: none;
    }

    .nav-logout {
        font-size: 18px;
    }

    .nav-user-profile {
        font-size: 18px;
    }

    .progress-castle-info {
        padding-left: 12px;
    }

    .svg-container {
        height: 40vh;
        padding-left: 3px;
    }

    svg {
        max-width: 406px;
    }

    .timer-container {
        padding-left: 20px;
    }

    .create-new-castle-container {
        text-align: center;
        width: 75%;
        height: 125px;
        padding-right: 10px;
        margin-bottom: 17px;
    }

    .new-castle-form {
        font-size: 18px;
    }

    input {
        width: 100px;
        height: 18px;
        border-radius: 2px;
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 5px;
    }

    .create-castle-button {
        width: 80px;
        height: 32px;
        font-size: 20px;
    }

    .profile-under-construction {
        font-size: 21px;
        padding-left: 5px;
    }

    .current-castles-container {
        width: 70%;
        margin-left: 3px;
    }

    .profile-castle-name {
        font-size: 25px;
        margin-top: 10px;
    }

    .profile-delete-button {
        width: 80px;
        height: 30px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .profile-progress-button {
        width: 180px;
        height: 35px;
        font-size: 20px;
    }

    .profile-completed {
        font-size: 21px;
        padding-left: 5px;
        margin-top: 25px;
    }

    .profile-line {
        display: none;
    }

    .completed-castles-container {
        width: 70%;
        margin-left: 3px;
    }
}

/*!*PIXEL2 / PIXEL2 XL *!*/
@media only screen and (max-width: 411px) and (min-width: 411px ) {
    .nav-name {
        display: none;
    }

    .nav-home {
        display: none;
    }

    .nav-logout {
        font-size: 18px;
    }

    .nav-user-profile {
        font-size: 18px;
    }

    .svg-container {
        height: 40vh;
        padding-left: 1px;
    }

    svg {
        max-width: 406px;
    }

    .timer-container {
        padding-left: 10px;
    }

    .create-new-castle-container {
        text-align: center;
        width: 75%;
        height: 125px;
        padding-right: 10px;
        margin-bottom: 17px;
    }

    .new-castle-form {
        font-size: 18px;
    }

    input {
        width: 100px;
        height: 18px;
        border-radius: 2px;
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 5px;
    }

    .create-castle-button {
        width: 80px;
        height: 32px;
        font-size: 20px;
    }

    .profile-under-construction {
        font-size: 21px;
        padding-left: 5px;
    }

    .current-castles-container {
        width: 70%;
        margin-left: 3px;
    }

    .profile-castle-name {
        font-size: 25px;
        margin-top: 10px;
    }

    .profile-delete-button {
        width: 80px;
        height: 30px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .profile-progress-button {
        width: 180px;
        height: 35px;
        font-size: 20px;
    }

    .profile-completed {
        font-size: 21px;
        padding-left: 5px;
        margin-top: 25px;
    }

    .profile-line {
        display: none;
    }

    .completed-castles-container {
        width: 70%;
        margin-left: 3px;
    }
}

/*IPHONE 6/7/8/X */
@media only screen and (max-width: 376px) and (min-width: 374px ) {
    .nav-name {
        display: none;
    }

    .nav-home {
        display: none;
    }

    .nav-logout {
        font-size: 18px;
    }

    .nav-user-profile {
        font-size: 18px;
    }

    .progress-castle-info {
        padding-left: 7px;
    }

    .svg-container {
        height: 35vh;
        padding-left: 8px;
    }

    svg {
        max-width: 350px;
    }

    .timer-container {
        padding-left: 16px;
    }

    .create-new-castle-container {
        text-align: center;
        width: 75%;
        height: 125px;
        padding-right: 10px;
        margin-bottom: 17px;
    }

    .new-castle-form {
        font-size: 18px;
    }

    input {
        width: 100px;
        height: 18px;
        border-radius: 2px;
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 5px;
    }

    .create-castle-button {
        width: 80px;
        height: 32px;
        font-size: 20px;
    }

    .profile-under-construction {
        font-size: 21px;
        padding-left: 5px;
    }

    .current-castles-container {
        width: 70%;
        margin-left: 3px;
    }

    .profile-castle-name {
        font-size: 25px;
        margin-top: 10px;
    }

    .profile-delete-button {
        width: 80px;
        height: 30px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .profile-progress-button {
        width: 180px;
        height: 35px;
        font-size: 20px;
    }

    .profile-completed {
        font-size: 21px;
        padding-left: 5px;
        margin-top: 25px;
    }

    .profile-line {
        display: none;
    }

    .completed-castles-container {
        width: 70%;
        margin-left: 3px;
    }

}

/*GALAXY S5*/
@media only screen and (max-width: 361px) and (min-width: 359px ) {
    .nav-name {
        display: none;
    }

    .nav-home {
        display: none;
    }

    .nav-logout {
        font-size: 18px;
    }

    .nav-user-profile {
        font-size: 18px;
    }

    .progress-castle-info {
        padding-left: 6px;
    }

    .svg-container {
        height: 40vh;
    }

    svg {
        max-width: 355px;
    }

    .timer-container {
        padding-left: 22px;
    }

    .create-new-castle-container {
        text-align: center;
        width: 75%;
        height: 125px;
        padding-right: 15px;
        margin-bottom: 17px;
    }

    .new-castle-form {
        font-size: 18px;
    }

    input {
        width: 100px;
        height: 18px;
        border-radius: 2px;
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 5px;
    }

    .create-castle-button {
        width: 65px;
        height: 25px;
        font-size: 15px;
    }

    .profile-under-construction {
        font-size: 21px;
        padding-left: 5px;
    }

    .current-castles-container {
        width: 70%;
        margin-left: 3px;
    }

    .profile-castle-name {
        font-size: 25px;
        margin-top: 10px;
    }

    .profile-delete-button {
        width: 80px;
        height: 30px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .profile-progress-button {
        width: 180px;
        height: 35px;
        font-size: 20px;
    }

    .profile-completed {
        font-size: 21px;
        padding-left: 5px;
        margin-top: 25px;
    }

    .profile-line {
        display: none;
    }

    .completed-castles-container {
        width: 70%;
        margin-left: 3px;
    }
}

/*IPHONE 5/SE*/
@media only screen and (max-width: 324px){

    .navigation {
        /*why is there a gap on the right?*/
        width: 100%;
    }

    .nav-name {
        display: none;
    }

    .nav-home {
        display: none;
    }

    .nav-logout {
        font-size: 15px;
        padding: 2px;
        padding-right: 10px;
    }

    .nav-user-profile {
        font-size: 15px;
        padding: 2px;
    }

    .nav-logo {
        padding-top: 10px;
        padding-right: 2px;
        padding-left: 0;
    }

    .progress-castle-info {
        padding-left: 17px;
    }

    .svg-container {
        height: 30vh;
    }

    svg {
        max-width: 324px;
    }

    .timer-container {
        padding-left: 35px;
    }

    .profile-flex-container {
        align-items: center;
    }

    .create-new-castle-container {
        text-align: center;
        width: 75%;
        height: 125px;
        padding-right: 40px;
        margin-bottom: 17px;
    }

    .new-castle-form {
        font-size: 18px;
    }

    input {
        width: 100px;
        height: 18px;
        border-radius: 2px;
        font-size: 12px;
        padding-left: 3px;
        padding-right: 3px;
        margin-top: 5px;
    }

    .create-castle-button {
        width: 65px;
        height: 25px;
        font-size: 15px;
    }

    .profile-under-construction {
        font-size: 21px;
        padding-left: 5px;
    }

    .current-castles-container {
        width: 70%;
        margin-left: 3px;
    }

    .profile-castle-name {
        font-size: 25px;
        margin-top: 10px;
    }

    .profile-delete-button {
        width: 80px;
        height: 30px;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .profile-progress-button {
        width: 180px;
        height: 35px;
        font-size: 20px;
    }

    .profile-completed {
        font-size: 21px;
        padding-left: 5px;
        margin-top: 25px;
    }

    .profile-line {
        display: none;
    }

    .completed-castles-container {
        width: 70%;
        margin-left: 3px;
    }
}


/*FIREFOX CONSIDERATIONS*/

@supports (-moz-appearance:meterbar)  {
    .timer-container {
      width: 225px;
    }

    #minutes-input-id {
        font-size: 14px;
    }

}