<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a castle</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>

<body style="background-color: #282422">

<div class="navigation">
        <ul class="nav-list" style="list-style-type: none;">
            <li class="nav-left"><div class="nav-logo">CASTLEDORO</div></li>
            <li class="nav-right"><div class="nav-name">{{ user.username }}</div></li>
            <li class="nav-right"><a class="nav-logout" href="{% url 'logout_namespace' %}">logout</a></li>
            <li class="nav-right"><a class="nav-user-profile" href="{% url 'user_profile_namespace' %}">profile</a></li>
        </ul>
    </div>

<h1 class="delete-page-header">delete a castle</h1>

<div class="delete-castle-form-container">

    <form class="delete-castle-form" method="POST" >
        {% csrf_token %}
        <fieldset>
            {{ form.as_p }}
            <button type="submit" class="delete-page-delete-button">delete</button>
        </fieldset>
    </form>
</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>