<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Castledoro</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>
<body style="background-color: #282422">

{% if user.is_authenticated %}
    <div class="navigation">
        <ul class="nav-list" style="list-style-type: none;">
            <li class="nav-left"><div class="nav-logo">CASTLEDORO</div></li>
            <li class="nav-right"><div class="nav-name">{{ user.username }}</div></li>
            <li class="nav-right"><a class="nav-logout" href="{% url 'logout_namespace' %}">logout</a></li>
            <li class="nav-right"><a class="nav-user-profile" href="{% url 'user_profile_namespace' %}">profile</a></li>
        </ul>
    </div>

{#    <h2 class="homepage-header">home</h2>#}
    <br>
    <br>
    <br>
    <br>
    <div class="product-blurb">{{ product_blurb1 }}</div>
    <div class="homepage-photo-container"><img src="{% static '/img/homepage_photo.png' %}" alt="castle made of building blocks" class="homepage-photo"/></div>
    <div class="product-blurb">{{ product_blurb2 }}</div>
{% endif %}

{% if not user.is_authenticated %}
    <h1 class="homepage-welcome">CASTLEDORO</h1>
    <div class="product-blurb">{{ product_blurb1 }}</div>
    <div class="homepage-photo-container"><img src="{% static '/img/homepage_photo.png' %}" alt="castle made of building blocks" class="homepage-photo"/></div>
    <div class="product-blurb">{{ product_blurb2 }}</div>
    <br>
{% endif %}

<div class="homepage-flex-container">
    {% if not user.is_authenticated %}
        <h3 class="homepage-register-text">⬇ register for free to start building ⬇</h3>
            <form class="new-user-registration-form" method="POST" >
                {% csrf_token %}
                <fieldset>
                    {{ registration_form.as_p }}

                    {% if registration_form.errors %}
                        {% for error in registration_form.errors %}
                                {{ error|escape }}
                        {% endfor %}
                    {% endif %}

                    <button type="submit" class="homepage-register-button">Sign Up</button>
                </fieldset>
            </form>
        <br class="homepage-line">
        <br class="homepage-line">
        <h3 class="homepage-login-text">already have an account?</h3>
            <a class="homepage-login-link" href="{% url 'login_namespace' %}">Log in</a>
    {% endif %}
</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>