<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Castledoro!</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>
<body style="background-color: #282422">

{% if user.is_authenticated %}
    <div class="navigation">
        <div class="nav-name">{{ user.username }} </div>
        <a class="nav-logout" href="{% url 'logout_namespace' %}">logout</a>
        <a class="nav-user-profile" href="{% url 'user_profile_namespace' %}">profile</a>
    </div>
{% endif %}

{% if not user.is_authenticated %}
    <h1 class="homepage-welcome">CASTLEDORO</h1>
{% endif %}

<div class="homepage-flex-container">
    {% if not user.is_authenticated %}
        <h3 class="homepage-register-text">register for free to start building</h3>
        <div class="registration-form-container">
            <form class="new-user-registration-form" method="POST" >
                {% csrf_token %}
                <fieldset>
                    <legend>Register</legend>
                    {{ form.as_p }}
                    <button type="submit" class="homepage-register-button">Sign Up</button>
                </fieldset>
            </form>
        </div>
        <br>
        <br>
        <h3 class="homepage-login-text">already have an account? log in below</h3>
        <div class="login-form-container">
            <form class="login-form" method="POST" >
            {% csrf_token %}
            <fieldset>
                <legend>Log in</legend>
                {{ form.as_p }}
                <button type="submit" class="homepage-login-button">Log In</button>
            </fieldset>
            </form>
        </div>
    {% endif %}
</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>