<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Castledoro!</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>
<body style="background-color: #282422">

<h1 class="homepage-welcome">CASTLEDORO</h1>

<div class="homepage-flex-container">
{% if user.is_authenticated %}
        <div class="nav-name">{{ user.username }} </div>
        <a class="nav-logout" href="{% url 'logout_namespace' %}">logout</a>
        <a class="nav-user-profile" href="{% url 'user_profile_namespace' %}">profile</a>
    {% else %}
        <h3 class="homepage-register-text">register for free to start building</h3>
        <a class="homepage-register-link" href="{% url 'user_registration_namespace' %}">register</a>
        <br>
        <br>
        <h3 class="homepage-login-text">already have an account? click below to log in</h3>
        <a class="homepage-login-link" href="{% url 'login_namespace' %}">login</a>
    {% endif %}
</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>