<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logout</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>
<body>

<h1>You've logged out</h1>
<a href="{% url 'login_namespace' %}">Log in again</a>



<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>