<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make progress on a skill castle</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>
<body>

<div class="navigation">
    {% if user.is_authenticated %}
        <a class="nav-logout" href="{% url 'logout_namespace' %}">Logout</a>
    {% else %}
        <a class="nav-login" href="{% url 'login_namespace' %}">Login</a>
        <a class="nav-register" href="{% url 'user_registration_namespace' %}">Register</a>
    {% endif %}
</div>

<h1>Castle progress area for {{ user.username }}</h1>

<img src="{% static '/img/temp_castle.jpg' %}" alt="" class="castle-progress-image"/>

<div class="timer-container">
    <div class="minutes">2</div><div class="colon">:</div><div class="seconds">00</div>
</div>

<div class="timer-buttons-container">
    <button class="start-timer">Start</button>
    <button class="reset-timer">Reset</button>
    <button class="pause-timer">Pause</button>
</div>

<div class="progress-castle-info">
    <div class="progress-castle-name">Name: {{ castle_in_progress.castle_name }}</div>
    <div class="progress-castle-total-blocks">Total Blocks: {{ castle_in_progress.total_blocks }}</div>
    <div class="progress-castle-completed-blocks">Completed Blocks: {{ castle_in_progress.completed_blocks }}</div>
</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>