<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make progress on a skill castle</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>
<body>

<div class="navigation">
    {% if user.is_authenticated %}
        <a class="nav-logout" href="{% url 'logout_namespace' %}">Logout</a>
    {% else %}
        <a class="nav-login" href="{% url 'login_namespace' %}">Login</a>
        <a class="nav-register" href="{% url 'user_registration_namespace' %}">Register</a>
    {% endif %}
</div>

<h1>Castle progress area for {{ user.username }}</h1>

{#<img src="{% static '/img/temp_castle.jpg' %}" alt="" class="castle-progress-image"/>#}

<input type="text" placeholder="Enter minutes" class="minutes-input">
<input type="submit" class="timer-submit">

<div class="timer-container">
    <div class="minutes-extra-zero">0</div><div class="minutes-display">00</div><div class="colon">:</div><div class="seconds-extra-zero">0</div><div class="seconds-display">00</div>
</div>

<svg viewBox="0 0 220 100" xmlns="http://www.w3.org/2000/svg" class="block-container">
    <rect class="block" x="15" y="1" width="4" height="4" rx=".5"></rect>
    <rect class="block" x="12.5" y="6"  width="4" height="4" rx=".5"></rect><rect x="17.5" y="6"  class="block" width="4" height="4" rx=".5"></rect>
    <rect class="block block1" x="10"  y="11" width="4" height="4" rx=".5"></rect><rect x="15"  y="11" class="block block2" width="4" height="4" rx=".5"></rect><rect class="block block3" x="20"  y="11"  width="4" height="4" rx=".5"></rect>
</svg>


<div class="timer-buttons-container">
    <button class="reset-timer">Reset</button>
    <button class="pause-timer">Pause</button>
</div>

<div class="progress-castle-info">
    <div class="castle-name">Name: {{ castle_in_progress.castle_name }}</div>
    <div class="total-blocks">Total Blocks: {{ castle_in_progress.total_blocks }}</div>
    <div class="completed-blocks">Completed Blocks: {{ castle_in_progress.completed_blocks }}</div>
</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>