<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>
<body>

<div class="navigation">
    {% if user.is_authenticated %}
        <a class="nav-logout" href="{% url 'logout_namespace' %}">Logout</a>
    {% else %}
        <a class="nav-login" href="{% url 'login_namespace' %}">Login</a>
        <a class="nav-register" href="{% url 'user_registration_namespace' %}">Register</a>
    {% endif %}
</div>

<h1>User Profile area for {{ user.username }}</h1>

<h2>My Castles:</h2>
{% for castle in castles %}
    <p>The name of this castle is: {{ castle.castle_name }}</p>
    <img src="{% static '/img/temp_castle.jpg' %}" alt="" class="castle-profile-image"/>
    <button onclick="location.href = '/delete_castle'">Delete {{ castle.castle_name }}</button>
    <button onclick="location.href = '/make_progress_on_existing_castle?castle={{ castle.castle_id }}'">Make progress on {{ castle.castle_name }}</button>
{% endfor %}


<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>