<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>
<body style="background-color: #282422">

<div class="navigation">
    {% if user.is_authenticated %}
        <div class="nav-name">{{ user.username }} </div>
        <a class="nav-logout" href="{% url 'logout_namespace' %}">Logout</a>
        <a class="nav-home" href="{% url 'home_namespace' %}">Home</a>
    {% else %}
        <a class="nav-login" href="{% url 'login_namespace' %}">Login</a>
        <a class="nav-register" href="{% url 'user_registration_namespace' %}">Register</a>
    {% endif %}
</div>

<div class="profile-flex-container">

    <h2 class="profile-under-construction">under construction</h2>
    <div class="current-castles-container">
        {% for castle in current_castles %}
            <p>{{ castle.castle_name }}</p>
            <p>BLOCKS: {{ castle.completed_blocks }}/165</p>
            <p>MODIFIED: {{ castle.last_modified }} GMT</p>
            <button onclick="location.href = '/delete_castle'">Delete {{ castle.castle_name }}</button>
            <button onclick="location.href = '/make_progress?castle={{ castle.castle_id }}'">Make progress on {{ castle.castle_name }}</button>
        {% endfor %}
    </div>

    <br>
    <br>
    <br>

    <h2 class="profile-completed">completed</h2>
    <div class="completed-castles-container">
        {% for castle in completed_castles %}
            <p>{{ castle.castle_name }}</p>
            <p>BLOCKS: {{ castle.completed_blocks }}/165</p>
            <p>MODIFIED: {{ castle.last_modified }} GMT</p>
            <button onclick="location.href = '/delete_castle'">Delete {{ castle.castle_name }}</button>
        {% endfor %}
    </div>

</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>