<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favi.ico' %}"/>
</head>
<body style="background-color: #282422">

<div class="navigation">
    {% if user.is_authenticated %}
        <ul class="nav-list" style="list-style-type: none;">
            <li class="nav-left"><div class="nav-logo">CASTLEDORO</div></li>
            <li class="nav-right"><div class="nav-name">{{ user.username }}</div></li>
            <li class="nav-right"><a class="nav-logout" href="{% url 'logout_namespace' %}">logout</a></li>
            <li class="nav-right"><a class="nav-home" href="{% url 'home_namespace' %}">home</a></li>
        </ul>
    {% endif %}
</div>

<div class="profile-flex-container">
{#    <h2 class="profile-page-header">profile</h2>#}
    <div class="create-new-castle-container">
        <form class="new-castle-form" method="POST" >
            <fieldset>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="create-castle-button">create</button>
            </fieldset>
        </form>
    </div>
    <h2 class="profile-under-construction">⬇  castles in progress  ⬇</h2>
    <div class="current-castles-container">
        {% for castle in current_castles %}
            <p class="profile-castle-name">{{ castle.castle_name }}</p>
            <p>BLOCKS: {{ castle.completed_blocks }}/165</p>
            <p>MODIFIED: {{ castle.last_modified }} GMT</p>
            <button onclick="location.href = '/delete_castle'" class="profile-delete-button">delete</button>
            <button onclick="location.href = '/make_progress?castle={{ castle.castle_id }}'" class="profile-progress-button">make progress</button>
            <br>
            <br>
        {% endfor %}
    </div>

    <br class="profile-line">
    <br class="profile-line">
    <br class="profile-line">

    <h2 class="profile-completed">⬇ castles completed ⬇</h2>
    <div class="completed-castles-container">
        {% for castle in completed_castles %}
            <p class="profile-castle-name">{{ castle.castle_name }}</p>
            <p>BLOCKS: {{ castle.completed_blocks }}/165</p>
            <p>MODIFIED: {{ castle.last_modified }} GMT</p>
            <button onclick="location.href = '/delete_castle'" class="profile-delete-button">delete</button>
            <br>
            <br>
        {% endfor %}
    </div>

</div>

<script src="{% static "frontend/main.js" %}"></script>
</body>
</html>